body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #222;
}

header {
    color: #fff;
    padding: 30px 0 20px 0;
    text-align: center;
    background-image: linear-gradient(45deg, #1a237e, #3949ab);
}

nav {
    background-image: linear-gradient(45deg, #1a237e, #3949ab);
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    padding: 8px 18px;
    border-radius: 4px;
    transition: background 0.2s;
    margin: 2px;
    border-radius: .5em;
    background: transparent;
}

nav a.active,
nav a:hover {
    background-image: linear-gradient(230deg, #1a237e, #3949ab);
    box-shadow: 0 4px 12px rgba(57, 73, 171, 0.4);
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    padding: 40px 30px;
    text-align: center;
}

h1 {
    margin: 0 0 10px 0;
    font-size: 2.5em;
    letter-spacing: 2px;
}

.fade-in {
    display: none;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }

    .container {
        padding: 20px 10px;
    }
}